extends ../layouts/default

block content
	// Parallax1
	#index-banner.parallax-container
		.section.no-pad-bot
			.container
				.br
				.br
					h1.header.center.teal-text.text-lighten-2 CyberGaming Open
					.row.center
						h5.header.col.s12.light A community driven PUG system for all
					.row.center
						a(href="#newsletter", id="newsletter-button", class="btn-large waves-effect waves-light teal lighten-1 pulse modal-trigger") Get Updates!
					.br
					.br

		.parallax
			img(src="/img/parallax1.jpg", alt="Unsplashed background img 1")